.about{
    width: 100%;
    height: 502px;
    border-bottom: 2px solid #edf6ff;
}
.about .about-container{
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.about-container h1{
    font-size: 32px;
    font-weight: lighter;
    padding: 0 0  10px;
}

.about-container h1 span{
    font-size: 32px;
    font-weight: bolder;
    font-family: 'Playfair Display'!important;
}
.about-container .cards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.about-container .cards .card{
    padding: 20px;
    width: 330px;
    height: 230px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.about-container .cards .card p{
    max-width: 225px;
    text-align: left;
    margin: 0;
}

.about-container .cards  .card div{
    background-color: #edf6ff;
    height: 50px;
    width: 50px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}