.deliverydptions{
    width: 100%;
    height: 325px;
    border-bottom: 2px solid #edf6ff;
}

.deliverydptions .deliverydptions-container{
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.deliverydptions-container h1{
    font-size: 32px;
    font-weight: lighter;
    text-align: center;
}

.deliverydptions-container  .cards{
    display: flex;
    width: 100%;
    justify-content: center;
}

.deliverydptions-container  .cards .card{
    width: 265px;
    height: 192px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.deliverydptions-container  .cards .card:hover{
    box-shadow: 0 14px 20px 0 rgba(164, 182, 206, 0.14);
    border: 1px solid #f2f2f2;
    cursor: pointer;
}
.deliverydptions-container  .cards .card h2{
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
}

@media(max-width:768px){
    .deliverydptions-container  .cards{
        display: flex;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .deliverydptions{
        width: 100%;
        min-height: 325px;
        height: auto;
        border-bottom: 2px solid #edf6ff;
    }
}