header{
    width: 100%;
    height: 70px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(80, 89, 100, 0.16);
}
.header-container{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    max-width: 1120px;
    margin: 0 auto;
    justify-content: space-between;
}
 header h1{
     margin: 0;
     font-family: 'Playfair Display'!important;
     font-size: 25px;
 }
 .header-container ul{
     display: flex;
}
.header-container li{
    margin: 0 10px;
    list-style: none;
    display: flex;
    align-items: center;
}
 .header-container .call-me{
    font-size: 15px;
    border-bottom: dotted 1px #333c4e;
 }

 .header-container .number{
    font-size: 15px;
    cursor: pointer;
 }

 .header-container .number span{
    font-size: 15px;
     font-weight: bolder;
     cursor: pointer;
     padding-left: 5px;
 }
 .header-container .btn-sign-in,
 .header-container .btn-solicitar{
    font-size: 13px;
     width: 150px;
     height: 30px;
     padding: 0 20px;
     border: 1px solid #333c4e;
     border-radius: 4px;
     font-weight: 500;
     cursor: pointer;
 }

 .header-container .btn-sign-in:hover,
 .header-container .btn-solicitar:hover{
     color: #fff;
     border: 1px solid #009f35;
     background-color: #009f35;
     font-weight: bolder;
 }


